# base config, mipsel_24kc
BR2_mipsel=y
BR2_mips_32r2=y

BR2_REPRODUCIBLE=y
BR2_GLOBAL_PATCH_DIR="${BR2_EXTERNAL_hlk_7628n_PATH}/patches"

# toolchain
BR2_TOOLCHAIN_USES_MUSL=y

BR2_TOOLCHAIN_EXTERNAL=y
BR2_TOOLCHAIN_EXTERNAL_CUSTOM=y
BR2_TOOLCHAIN_EXTERNAL_CUSTOM_MUSL=y
BR2_TOOLCHAIN_EXTERNAL_GCC_10=y
BR2_TOOLCHAIN_EXTERNAL_HEADERS_4_19=y
BR2_TOOLCHAIN_EXTERNAL_CUSTOM_PREFIX="mipsel-nerves-linux-musl"
BR2_TOOLCHAIN_EXTERNAL_CXX=y

BR2_TOOLCHAIN_EXTERNAL_DOWNLOAD=y
BR2_TOOLCHAIN_EXTERNAL_URL="https://github.com/nerves-project/toolchains/releases/download/v1.5.0/nerves_toolchain_mipsel_nerves_linux_musl-linux_x86_64-1.5.0-139CB15.tar.xz"

# kernel related config
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_VERSION=y
BR2_LINUX_KERNEL_CUSTOM_VERSION_VALUE="5.4.154"
BR2_LINUX_KERNEL_PATCH="${BR2_EXTERNAL_hlk_7628n_PATH}/linux/patches"
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="${BR2_EXTERNAL_hlk_7628n_PATH}/linux/linux-5.4.defconfig"
BR2_LINUX_KERNEL_XZ=y
BR2_LINUX_KERNEL_DTS_SUPPORT=y
BR2_LINUX_KERNEL_CUSTOM_DTS_PATH="${BR2_EXTERNAL_hlk_7628n_PATH}/linux/dts/mt7628an.dtsi ${BR2_EXTERNAL_hlk_7628n_PATH}/linux/dts/mt7628an_hilink_hlk-7628n.dts"

BR2_LINUX_KERNEL_UIMAGE=y

# rootfs
BR2_ROOTFS_SKELETON_DEFAULT=y
BR2_INIT_BUSYBOX=y

BR2_TARGET_ROOTFS_SQUASHFS=y
BR2_TARGET_ROOTFS_SQUASHFS_PAD=y
BR2_TARGET_ROOTFS_SQUASHFS4_XZ=y
